/CastoresInventario/nbproject/private/
/CastoresInventario/build/
/CastoresInventario0/build/
/CastoresInventario0/nbproject/private/
/CastoresInventario/dist/
/CastoresWeb/nbproject/private/
/CastoresWeb/build/
/CastoresWeb/dist/
